/* header */
.wrapper {
  overflow: hidden;
}
.content {
  position: relative;
}
header {
  display: flex;
  background-color: #111;
  flex-direction: row;
  justify-content: space-between;
  padding: 0.32rem /* 24px -> .32rem */;
}
header img {
  width: 150%;
}
.menu-list {
  position: absolute;
  top: 0.9067rem /* 68px -> .9067rem */;
  left: -100%;
  width: 100%;
  background-color: #000;
  z-index: 10;
  padding: 0rem;
  transition: all 0.5s;
}
.menu-list li {
  list-style-type: none;
  color: #fff;
  padding: .0533rem /* 4px -> .0533rem */ 0.5333rem /* 40px -> .5333rem */;
  display: flex;
  justify-content: space-between;
}
.menu-list>li>p{
  font-size: .4267rem /* 32px -> .4267rem */;
}
.menu-list img {
  width: 0.2933rem /* 22px -> .2933rem */;
}
.menu-border {
  border-bottom: 0.0267rem /* 2px -> .0267rem */ solid #f1f1f1;
}
.chanpin span {
  position: relative;
}
.chanpin span > p {
  background-color: #fff;
  width: 0.2667rem /* 20px -> .2667rem */;
  height: 0.0267rem /* 2px -> .0267rem */;
}
.chanpin span{
  display: inline-block;
  margin-top: .2133rem /* 16px -> .2133rem */;
}
.chanpin span > p:first-child {
  transform: rotate(90deg);
  position: absolute;
  top: 0rem;
  left: 0%;
  z-index: 5;
}
.menu-click{
  left: 0%;
}
.user{
  width: .48rem /* 36px -> .48rem */ !important;
}
.sign{
  display: inline-block;
  font-size: .4267rem /* 32px -> .4267rem */;
  line-height: 1.3333rem /* 100px -> 1.3333rem */;
  color: red;
}
/* swiper */
.swiper {
  position: relative;
}
.swiper-slide {
  height: 7.36rem /* 552px -> 7.36rem */;
}
.swiper-slide img {
  width: 100%;
}
.swiper-pagination span {
  display: inline-block;
  width: 0.2133rem /* 16px -> .2133rem */;
  height: 0.2133rem /* 16px -> .2133rem */;
  margin: 0rem 0.1333rem /* 10px -> .1333rem */ !important;
  margin-bottom: 0.2667rem /* 20px -> .2667rem */ !important;
}
.swiper-pagination .swiper-pagination-bullet-active {
  background-color: red;
}
/* video */
.video {
  margin-top: 0.2667rem /* 20px -> .2667rem */;
  position: relative;
}
.video-img {
  width: 100%;
}
.play {
  width: 2.1333rem /* 160px -> 2.1333rem */;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -0.5333rem /* -40px -> -0.5333rem */ 0rem /* 0px -> 0rem */ 0rem
    /* 0px -> 0rem */ -1.0667rem /* -80px -> -1.0667rem */;
  z-index: 10;
}
.video video {
  width: 100%;
}
.video p {
  color: #fff;
  text-align: center;
  font-size: 0.5333rem /* 40px -> .5333rem */;
  line-height: 0.8rem /* 60px -> .8rem */;
  background-color: #111;
}
/* content */
.img-box {
  position: relative;
  margin-top: 0.2667rem /* 20px -> .2667rem */;
}
.img-text {
  position: absolute;
  top: 3%;
  left: 0%;
  width: 100%;
}
.img-text p {
  font-size: 0.64rem /* 48px -> .64rem */;
  text-align: center;
}
.img-text h3 {
  font-size: 0.48rem /* 36px -> .48rem */;
  text-align: center;
}
.img-text span {
  display: block;
  color: #666;
  font-size: 0.3733rem /* 28px -> .3733rem */;
  text-align: center;
  line-height: 0.5333rem /* 40px -> .5333rem */;
}
.img {
  width: 100%;
}
/* footer */
footer {
  margin-top: 0.2667rem /* 20px -> .2667rem */;
  background-color: #f7f6f6;
  width: 100%;
  padding-bottom: 0.8rem /* 60px -> .8rem */;
}
.list {
  width: 100%;
  padding: 0;
}
.list li {
  height: 1.3333rem /* 100px -> 1.3333rem */;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.border {
  border-bottom: 2px solid #666;
}
.list a {
  text-decoration: none;
  color: #333;
  font-size: 0.3733rem /* 28px -> .3733rem */;
  line-height: 1.3333rem /* 100px -> 1.3333rem */;
  padding-left: 0.64rem /* 48px -> .64rem */;
}
.list li:nth-child(2) {
  height: 1.3333rem /* 100px -> 1.3333rem */;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  transition: all 0.5s;
}
.guznzhu {
  display: flex;
  width: 100%;
  height: 1.3333rem /* 100px -> 1.3333rem */;
  justify-content: space-between;
}
.guznzhu a {
  line-height: 0.8rem /* 60px -> .8rem */;
}
.list span {
  font-size: 0.7467rem /* 56px -> .7467rem */;
  display: inline-block;
  margin-right: 0.2667rem /* 20px -> .2667rem */;
}
.xlwb {
  font-size: 0.3733rem /* 28px -> .3733rem */;
  position: absolute;
  top: 1.3867rem /* 104px -> 1.3867rem */;
  left: 1.0667rem /* 80px -> 1.0667rem */;
}
.active {
  font-size: 0.24rem /* 18px -> .24rem */;
  margin-top: 0.1333rem /* 10px -> .1333rem */;
  margin-right: 0.4rem /* 30px -> .4rem */;
}
.end {
  width: 84%;
  margin: 0% 8%;
}
.telephone {
  font-size: 0.48rem /* 36px -> .48rem */;
}
.button h3 {
  width: 100%;
  background-color: #c00000;
  height: 0.9067rem /* 68px -> .9067rem */;
  text-align: center;
  line-height: 0.9067rem /* 68px -> .9067rem */;
  font-size: 0.4267rem /* 32px -> .4267rem */;
  font-weight: 500;
  color: #fff;
}
.button p {
  width: 100%;
  height: 0.9067rem /* 68px -> .9067rem */;
  background-color: #fff;
  font-size: 0.4267rem /* 32px -> .4267rem */;
  text-align: center;
  line-height: 0.9067rem /* 68px -> .9067rem */;
  font-weight: 500;
}
.button h2 {
  position: relative;
}
.button img {
  width: 0.2933rem /* 22px -> .2933rem */;
}
.button ul {
  height: 0rem;
  width: 96.3%;
  background-color: #fff;
  transition: all 0.5s;
  overflow: hidden;
  position: absolute;
  top: -1.44rem /* -108px -> -1.44rem */;
  left: 0rem;
}
.button li {
  list-style-type: none;
  text-align: center;
  padding: 0.2667rem /* 20px -> .2667rem */ 0rem;
}
.click {
  top: -8rem /* -600px -> -8rem */ !important;
  height: 7.6rem /* 570px -> 7.6rem */ !important;
}
