@font-face {
  font-family: "iconfont"; /* Project id 3359798 */
  src: url('iconfont.woff2?t=1650952144307') format('woff2'),
       url('iconfont.woff?t=1650952144307') format('woff'),
       url('iconfont.ttf?t=1650952144307') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-diqiuquanqiu:before {
  content: "\e76c";
}

.icon-redu:before {
  content: "\e619";
}

.icon-youjiantou1:before {
  content: "\e628";
}

.icon-xihuan:before {
  content: "\e86f";
}

.icon-ditu_dingwei:before {
  content: "\eb33";
}

.icon-below-s:before {
  content: "\e627";
}

.icon-zuojiantou:before {
  content: "\e604";
}

